.fondo1
  background-image: url('../assets/curso/Fondo.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo2
  background-image: url('../assets/curso/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.cajon.color-primario
    background-color: #D7EDFA !important

.color-texto
  color: #488064

.linea
  box-shadow: 2px 2px 5px #477FA2